<div class="sidebar col-2 pt-2 active" style ="overflow: auto; position: fixed; max-height: 80%; border-width:4px; border-style:inset;">
  <ul class="sidebar active">
    <br>
      <% current_user.ordered_rooms.each do |room| %>
        <li>
          <div class="col">
            <%= link_to room do %>
              <%= render "rooms/components/room_block", room: room %>
            <% end %>
          </div>
        </li>
      <% end %>
              
      <% if shared_access_allowed %>
        <% current_user.shared_rooms.each do |room| %>
          <li>
            <div class="col">
              <%= link_to room do %>
                <%= render "rooms/components/shared_room_block", room: room %>
              <% end %>
            </div>
          </li>
        <% end %>             
      <% end %>           
              
      <% unless room_limit_exceeded %>
        <li>
          <%= render "rooms/components/create_room_block"%>
        </li>
      <% end %>
  </ul>

  <!--div class="list-group list-group-transparent">
    <% current_user.ordered_rooms.each do |room| %>
      <div class= "col list-group-item list-group-item-action">
        <%= link_to room do %>
          <%= render "rooms/components/room_block", room: room %>
        <% end %>
      </div>
    <% end %>

    <% unless room_limit_exceeded %>
      <li>
        <%= render "rooms/components/create_room_block"%>
      </li>
    <% end %>
  </div-->
</div>